body {
    background-color: #202020;
    margin: 0;
    height: 100%;
    overflow: auto;
}

.rectangle-title {
    position: absolute;
    top: 50px;
    border-radius: 45px;
    background-color: #202020;
    border: 2px solid #666666;
    padding: 20px;
    height: 6vw;
    width: 500px;
}

.title {
    text-align: center;
    color: #8021CB;
    font-family: 'Iceberg', cursive;
    font-size: 5vw;
    -webkit-text-stroke: 0.5px white;
}