.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-letters {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.letters-8 {
  border: 10px solid #202020;
  background: linear-gradient(to left, #202020 20px, transparent 0);
  background-size: 131px 12px;
  background-color: #e3dbdb;
  width: 1044px;
  font: 100px 'Courier New', normal;
  letter-spacing: 68.6px;
  text-indent: 15px;
  text-transform: uppercase;
}

.letters-7 {
  border: 10px solid #202020;
  background: linear-gradient(to left, #202020 20px, transparent 0);
  background-size: 131px 12px;
  background-color: #e3dbdb;
  width: 912px;
  font: 100px 'Courier New', normal;
  letter-spacing: 68.6px;
  text-indent: 15px;
  text-transform: uppercase;
}

.letters-6 {
  border: 10px solid #202020;
  background: linear-gradient(to left, #202020 20px, transparent 0);
  background-size: 131px 12px;
  background-color: #e3dbdb;
  width: 781px;
  font: 100px 'Courier New', normal;
  letter-spacing: 68.6px;
  text-indent: 15px;
  text-transform: uppercase;
}

.letters-5 {
  border: 10px solid #202020;
  background: linear-gradient(to left, #202020 20px, transparent 0);
  background-size: 131px 12px;
  background-color: #e3dbdb;
  width: 649px;
  font: 100px 'Courier New', normal;
  letter-spacing: 68.6px;
  text-indent: 15px;
  text-transform: uppercase;
}

.letters-4 {
  border: 10px solid #202020;
  background: linear-gradient(to left, #202020 20px, transparent 0);
  background-size: 131px 12px;
  background-color: #e3dbdb;
  width: 520px;
  font: 100px 'Courier New', normal;
  letter-spacing: 68.6px;
  text-indent: 15px;
  text-transform: uppercase;
}

.icon-game-page {
  display: flex;
  justify-content: flex-end;

  color: #7d5fff;
  font-size: 45px;
  text-align: right;
  margin: 30px;
  margin-right: 50px;
  cursor: pointer;
}

.icon-home {
  transition: color 1s;
  margin-left: 40px;
}

.icon-hint {
  transition: color 1s;
}

.icon-hint:hover {
  transition: color 1s;
  color: #e3dbdb;
}

.icon-home:hover {
  transition: color 1s;
  color: #e3dbdb;
}

.show-how-many-hints {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-show-hints {
  margin-top: 5px;
  color: #e3dbdb;
  font: 20px 'Iceland', normal;
}

.submit-button {
  margin-left: 75%;

  height: 70px;
  border-radius: 45px;
  border: 2px solid #7256ef;
  width: 180px;
  text-align: center;
  color: #e3dbdb;
  background-color: #7d5fff;
  font: 40px 'Iceberg', normal;
  -webkit-text-stroke: 0.2px black;
  cursor: pointer;

  transition: background-color 1s;
}

.submit-button:hover {
  transition: background-color 1s;
  background-color: #6147d6;
}
