body {
    padding: 20px;
  }
  
  form > div {
    margin: 0 0 20px 0;
  }
  
  input[type=text] {
    border: 1px solid #ccc;
    background: linear-gradient(to left, #ccc 1px, transparent 0);
    background-size: 18px 1px;
    width: 321px; 
    font: 12px monaco, monospace; 
    letter-spacing: 10.5px;
    text-indent: 5px;
    text-transform: uppercase;
  }