.mainMenu {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: magenta;
}

.rectangle-lost {
  position: absolute;
  top: 200px;
  width: 900px;
  height: 450px;

  background: #505050;
  border-radius: 90px;
}

.enableBlur>* {
  filter: blur(8px);
}

.disableBlur {
  filter: blur(0);
}

.text-you-lost {
  margin-top: 20px;
  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  align-items: center;
  text-align: center;

  color: #FFFFFF;
  -webkit-text-stroke: 1px #000000;
}

.text-the-word-was {
  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  align-items: center;
  text-align: center;

  color: #FFFFFF;
}

.text-correct-word {
  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  align-items: center;
  text-align: center;

  color: #FFFFFF;
}

.icons {
  display: flex;
  margin-top: 20px;
  margin-left: 25%;
  width: 50%;
  justify-content: space-between;
  -webkit-text-stroke: 0.5px black;
}

.icons-style {
  background-color: #505050;
  color: #FFFFFF;
  font-size: 40px;
  border: none;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.color-green {
  transition: color 1s;
  color: #3ae374;
}

.color-green:hover {
  transition: color 1s;
  color: #41b569;
}

.color-magenta {
  transition: color 1s;
  color: #546de5;
}

.color-magenta:hover {
  transition: color 1s;
  color: #4055ba;
}

.color-purple {
  transition: color 1s;
  color: #8021CB;
}

.color-purple:hover {
  transition: color 1s;
  color: #7320b2;
}