.mainMenu{
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.newgame-logout-text {
  font-family: 'Iceland';
  font-style: normal;
  font-weight: 400;
  font-size: 75px;
  text-align: center;
  color: #8021CB;
  -webkit-text-stroke: 0.5px #FFFFFF;
  padding: 20px;
}

.rectangle-newgame {
  margin: 30px;
  margin-top: 300px;
  width: 350px;
  height: 15%;
  background: #202020;
  border: 3px solid #666666;
  border-radius: 45px;
}

.rectangle-logout {
  margin: 30px;
  width: 350px;
  height: 15%;
  background: #202020;
  border: 3px solid #666666;
  border-radius: 45px;
}